/**************************tag-selectors*************************/
body {
    background-color: #ffe9e9;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: .96rem;
}

h1 {
    color: ;
    #66bfbf padding: 0px auto auto;
    font-family: 'Sacramento', cursive;
    font-size: 3.875rem;
}

h1.hero-title {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    margin: 4rem auto 0px;
}

h2 {
    color: #66bfbf;
    padding: 0px auto auto;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    padding: 0px auto auto;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2rem;
    color: #40514E;
    padding: 0px 0px;
    margin: auto;
    max-width: fit-content;
    width: 800px;
}

hr {
    margin: 5rem auto;
    border-color: #d0e4e4;
    border-style: dotted;
    border-width: .40rem 0px 0px 0px;
    width: 40px;
}

/**************************class-selectors*************************/


.top-container {
    background: linear-gradient(0deg, #aef2ff 0%,
            #e4f9fd 100%);
    margin: 0px auto 0px;
    padding-top: 50px;
    position: relative;


}


.middle-container {}

.bottom-container {
    background-color:
}

.mov {
    display: inline-block;
    text-decoration: underline;
}

.cloud {
    display: block;
}

.top-cloud {
    rotate: -6deg;
    position: absolute;
    min-width: 7rem;
    width: 26vw;
    max-width: 18rem;
    opacity: 40%;
    top: 0px;
    right: 4%;

}

.bottom-cloud {
    rotate: 8deg;
    transform: rotateY(180deg);
    position: absolute;
    min-width: 6rem;
    width: 30vw;
    max-width: 30rem;
    opacity: 30%;
    top: 250px;
    left: 3%;
}

.mountain {
    margin-bottom: -3.5px;
    width: 60vw;
}


.img-profile {
    overflow: hidden;
    width: 150px;
}

.skills {}

.contact-me {}



.footer-link {
    display: inline-block;
    padding: .36rem;
}

.copyright {
    margin-top: 5rem;
    background-color: rgb(71, 71, 71);
    color: #dcfbdf;
    padding: 1rem;

}

.space1 {
    height: 1rem;
}


.skill-row {
    margin: 100px auto 100px;
    ;
    display: block;
    width: 70vw;
    text-align: left;
}

.gif-skill-items {
    width: inherit;
}

.border1 {
    border-color: #ffcece;
    border-style: none;
    border-width: .1rem;
    border-radius: 100%;


}

.gif-skill {

    display: block;
    margin: 0px auto 0px;
    text-align: left;
    width: 20vw;
    float: left;
    margin: 0px 2rem 0rem 0px;

    box-shadow: -6px -4px 5px -4px rgba(255, 195, 32, 0.906);

}

.gif-skill2 {
    display: block;
    margin: 0px auto 0px;
    text-align: left;
    width: 20vw;
    float: right;
    margin: 0px 0rem 0rem 2rem;

    box-shadow: 6px -4px 5px -4px rgba(255, 195, 32, 0.906);


}

.All-day-coding-h3,
.creating-graphics-h3 {

    margin-top: 0px;
}

.pp {

    border: 2px;

}


.creating-graphics {
    margin-top: 0px;
}

.btn {
    padding: 1.5rem;
}

.myButton {
    
    border: 1px solid #ffffff;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: linear-gradient(top, #ffffff, #ffffff);
    padding: 9px 18px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10%;
    color: #ff6c6c;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.myButton:hover {
    border-radius: 10%;
    border-top-color: #ff5e63;
    background: #ff5e63;
    color: #ffffff;
}

.myButton:active {
    border-radius: 10%;
    border-top-color: #f513ea;
    background: #f513ea;
}

.footer-link {
    color: #11999E;
    text-decoration-style: dotted;
    text-decoration-color: rgb(59, 0, 254);
}