/**************************tag-selectors*************************/
body {
    background-color: rgb(255, 245, 245);
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: .96rem;
}

h1 {
    color: ;
    #66bfbf padding: 0px auto auto;
    font-family: 'Sacramento', cursive;
    font-size: 3.875rem;
}

h1.hero-title {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    margin: 4rem auto 0px;
}

h2 {
    color: #66bfbf;
    padding: 0px auto auto;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #66bfbf;
    padding: 0px auto auto;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #66bfbf;
    padding: 0px 0px;
    margin: auto;
    max-width: fit-content;
    width: 800px;
}

hr {
    margin: 10rem auto;
    border-color: rgb(136, 200, 255);
    border-style: dotted;
    border-width: .80rem 0px 0px 0px;
    width: 90px;
}

/**************************class-selectors*************************/


.top-container {
    margin: 0px auto auto;
    padding-top: 50px;
    position: relative;


}


.middle-container {}

.bottom-container {
    background-color:
}

.mov {
    display: inline-block;
    text-decoration: underline;
}

.cloud {
    display: block;
}

.top-cloud {
    rotate: -6deg;
    position: absolute;
    min-width: 7rem;
    width: 26vw;
    max-width: 18rem;
    opacity: 40%;
    top: 0px;
    right: 4%;

}

.bottom-cloud {
    rotate: 8deg;
    transform: rotateY(180deg);
    z-index: -4;
    position: absolute;
    min-width: 6rem;
    width: 30vw;
    max-width: 30rem;
    opacity: 30%;
    top: 250px; 
    left: 3%;
}

.mountain {
    width: 60vw;
}


.img-profile {
    overflow: hidden;
    width: 150px;
}

.skills {}

.contact-me {}

.btn {
    padding-top: 0.96rem;
}

.footer-link {
    display: inline-block;
    padding: .36rem;
}

.copyright {
    margin-top: 5rem;
    background-color: rgb(71, 71, 71);
    color: #dcfbdf;
    padding: 1rem;

}

.space1 {
    height: 1rem;
}


.skill-row {
    margin: 100px auto 100px;
    ;
    display: block;
    width: 70vw;
    text-align: left;
}

.gif-skill-items {
    width: inherit;
}

.gif-skill {
    display: block;
    margin: 0px auto 0px;
    text-align: left;
    width: 20vw;
    float: left;
    margin: 0px .7rem .7rem 0px;
}

.gif-skill2 {
    display: block;
    margin: 0px auto 0px;
    text-align: left;
    width: 20vw;
    float: right;
    margin: 0px .7rem .7rem 0px;
}

.All-day-coding-h3,
.creating-graphics-h3 {
    color: rgb(53, 198, 177);
    margin-top: 0px;
}

.pp { color: black;
    line-height: 2rem;
    border: 2px;

}


.creating-graphics {
    margin-top: 0px;
}